<!DOCTYPE html>
<html lang = "en">

<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title>Server Start</title>
  <script src = "https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src = "/javascripts/index.js"></script>
</head>

<body>
  <h2>Express Test</h2>
  <div>
    <form>
      <fieldset>
        <legend>
          Sign Up
        </legend>
          <div>
            <input id = "input-username" type = "text" placeholder = "name">
          </div>
          <div>
            <input id = "input-password" type = "password" placeholder= "password">
          </div>
          <button type = "submit">submit</button>
      </fieldset>
    </form>
  </div>
</body>

</html>